.biografia {
    font-style: Arial, Sans-serif;
    font-weight: 18px;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
    color: #c518ae;
    font-style: italic;
}

#subtitulo {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #f823ff;
    text-decoration: underline;
    text-shadow: 1px 1px;
}

.Discografía {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0, 5);
    background-color: rgb(241, 241, 112);
    padding: 10px;
}

#disco {
    font-weight: bolder;
}

.anecdota {
    font-size: 16px;
    margin-bottom: 15px;
    color: rgba(250, 0, 0, 50%);
    text-align: justify;
    background: rgb(34, 195, 80);
    background: linear-gradient(0deg, rgba(34, 195, 80, 1) 0%, rgba(45, 101, 253, 1) 100%);
}
#Subtitulo2{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #f823ff;
    text-decoration: underline;
    font-style: italic;
}